@import '../../variables.scss';

.container {
  margin-top: 2rem;
  box-sizing: border-box;
  background: black;
  width: 100%;
  padding: 2rem;
  height: auto;
}

.program {
  display: block;
  text-align: start;
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;


  outline: none;
  transition: .3s;

  &:hover {
    outline: solid white;
    outline-offset: 0.5rem;
  }
}
.session{
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
}

.speaker {
  color: $color-logo-orange;
  font-size: 1.3rem;
}

.subinfo{
  font-size: 1rem;
}