@import '../../variables.scss';

.container {
  margin-top: 2rem;
  box-sizing: border-box;
  background: black;
  width: 100%;
  padding: 2rem;
  height: auto;

  @media only screen and (max-width: $screen-xxs) {
    padding: 10px;
  }
}

.filterContainer {
  padding-top: 0.5rem;
  text-align: start;
  @media only screen and (max-width: $screen-xxs) {
    padding: 0.5rem;
  }
}

.filterSubContainer {
  display: flex;
  @media only screen and (max-width: $screen-lg) {
    display: block;
  }
}

.filterHeader {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  margin: 15px 0
}

.program {
  display: flex;
  text-align: start;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;

  outline: none;
  transition: .3s;

  &:hover {
    outline: solid white;
    outline-offset: 0.5rem;
  }
}

.session {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  width: 93%;
  overflow-wrap: break-word;
}

.favButton {
  width: 7%;
  margin: 0 auto;
  background: none;
  color: inherit;
  border: none;
  padding: 0px;
  font: inherit;
  cursor: pointer;
}

.title {
  font-size: 1.5rem;
}

.speaker {
  color: $color-logo-orange;
  font-size: 1.3rem;
}

.subinfo {
  font-size: 1rem;
}

.dayFilter {
  padding-right: 20px;
}